<div id="dialog-form" title="Edit user data">
    <form>
        <fieldset>
            <label for="name">Name</label>
            <input type="text" id="name" value="<%= user.name %>" class="text ui-widget-content ui-corner-all">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" value="<%= user.email %>" class="text ui-widget-content ui-corner-all">
            <label for="surname">Surname</label>
            <input type="text" name="surname" id="surname" value="<%= user.lastName %>" class="text ui-widget-content ui-corner-all">

            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>